---
layout: default
---
{% for post in site.posts limit:5 %}
  <article> 
    <header> 
      <hgroup>
        <h1> 
          <a href="{{ post.url }}" rel="bookmark" title="link to this post">{{ post.title }}</a> 
        </h1> 
        <h2>by Waylan Limberg <time datetime="{{ post.date|date:"%Y-%m-%d" }}" pubdate>{{ post.date|date:"%B %d, %Y" }}</time></h2>
      <hgroup>
    </header> 

{% if forloop.first or post.summery == null %}
{{ post.content }}
{% else %}
{{ post.summary }} 
<p><a href="{{ post.url }}" rel="bookmark" title="link to this post">Read this post in its entirety&hellip;</p>
{% endif %}

  </article> 
{% endfor %}
