<!DOCTYPE html> 
<html lang="en"> 
 
<head> 
  <meta charset="utf-8" /> 
  <title>achinghead.com{% if post %} &ndash; {{ post.title }}{% elsif page.title %} &ndash; {{page.title}}{%endif %}</title> 
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
  <link rel="stylesheet" href="/media/style.css" /> 
  <link rel="alternate" type="application/atom+xml" title="My Weblog feed" href="/feed/" /> 
  <link rel="shortcut icon" href="/favicon.ico" /> 
</head> 
 
<body> 
 
  <header id='siteheader'> 
 
    <hgroup> 
      <h1>achinghead.com</h1> 
      <h2>about to explode with half-backed ideas</h2> 
    </hgroup> 
 
    <nav> 
      <ul> 
        <li><a href="../">home</a></li> 
        <li><a href="../archive.html">archive</a></li> 
        <li><a href="../projects/">projects</a></li> 
        <li><a href="../about.html">about</a></li> 
      </ul> 
    </nav> 
 
  </header> 
